td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

/* below to create similar size graphs */
svg {
  height: 150px;
}

/* below is IMPORTANT! If this is not added you will not be able to
see the GoogleMap.
--> Find the 1st td in each row, find its first td and its child div
& give that the height of 200 and width of 250
 */
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
